<!DOCTYPE html>
<html lang="en">

<head>
    {{ include blog_head }}
    <title>{{ title }}</title>
</head>

<body>

    <section id="main">
        <video src="{{ get_asset bg.mp4 }}" muted autoplay loop></video>
        {{ include header }}
    </section>

    <div class="content-container top">
        <div class="content-nav">
            <div class="head">Navigator</div>
            <div class="nav">
                {{ navigation_structure }}
            </div>
        </div>
        <div class="content">
            <div class="pretext">Blog > {{ name }}</div>
            <div class="content-title">
                <h1>{{ name }}</h1>
                <h3>Authored by : {{ author }}</h2>
                <h3>Publication Date : {{ date }}</h2>
            </div>
            <div class="content-body">
                {{ sections }}
            </div>
        </div>
    </div>

    <section class="footer" id="footer">
        {{ include footer }}
    </section>

</body>

</html>