@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #fff;
}

:root {
    --primary-color: green;
    --secondary-color: #e2c000;
}

a {
    color: unset;
    text-decoration: none;
}

#main video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: max(1.5rem, 1.75vh) max(1rem, 4.5vw);
    transition-duration: 1.7s;
    align-items: center;
    flex-direction: row-reverse;
    transition-duration: 1.2s;
}

.header:hover {
    backdrop-filter: none;
}

.header .mid {
    display: flex;
    align-items: center;
    font-size: max(1.5vw, 1.5rem);
    font-weight: 500;
    flex-direction: row;
    gap: 1rem;
}

.header .mid .head {
    display: none;
}

.header .mid .logo img {
    height: min(max(12vw, 3rem), 4rem);
    width: auto;
}

.header .left .icon {
    display: none;
}

.header .left .nav {
    display: flex;
    gap: 2vw;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    backdrop-filter: blur(0.5rem);
}

.header .left .nav .nav-element {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    position: relative;
}

.header .left .nav .nav-element .flex-target {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header .left .nav .nav-element .flex-target:hover {
    cursor: pointer;
}

.header .left .nav .nav-element .dropdown-content {
    width: 100%;
    display: none;
    flex-direction: column;
}

.header .right .icons {
    display: flex;
    gap: 2.5vw;
    font-size: 1.75rem;
}

.header .right .icons div:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.header .right {
    display: none;
}

.header .left .mb-head {
    display: none;
}

.vw {
    display: flex;
    gap: 1.5vw;
}

.vw-left {
    width: 60vw;
    margin: 1rem max(1rem, 2vw) 0rem max(1rem, 2vw);
    height: 80vh;
    display: flex;
    flex: none;
    overflow: auto;
    flex-flow: column nowrap;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.vw-left::-webkit-scrollbar {
    display: none;
}

.vw-left .block {
    min-height:100%;
    scroll-snap-align: center;
}

.vw-left .block .head {
    font-size: 4.5vw;
    margin-top: 5rem;
    margin-left: 3.25rem;
}

.vw-left .block .description {
    font-size: 2vw;
    margin-top: 1rem;
    margin-left: 3.75rem;
    color: var(--secondary-color);
}

.vw-left .block .button {
    font-size: 1.25vw;
    margin-top: 8rem;
    margin-left: 3.75rem;
}

.vw-right {
    margin-right: 1rem;
    padding: 1rem 2rem;
    backdrop-filter: blur(3.25rem);
}

.vw-right .head {
    font-size: 2.25rem;
    padding-bottom: 2px;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
}

.vw-right .item {
    padding-bottom: 1.25rem;
}

.vw-right .item .h {
    font-size: 1.25rem;
}

.fade {
    margin: 50px;
    padding: 50px;
    background-color: transparent;
    transition: opacity 0.7s ease-in;
}

.fadeOut { opacity: 0; }
.fadeIn { opacity: 1; }

.footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem 2rem;
    font-weight: 300;
    font-size: 0.75rem;
}

@media (min-aspect-ratio: 16/9) {
    video {
      width: 100%;
      height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    video {
        width: auto;
        height: 100%;
    }
}

@media only screen and (min-width: 1280px) {
    .header .mid .head {
        display: block;
    }

    .header .right {
        display: block;
    }

    .header .mid .acronym {
        display: none;
    }

    .header .mid {
        flex-direction: column;
    }

    .header {
        flex-direction: row;
    }

    .header .left .nav .nav-element {
        flex-direction: row-reverse;
    }

    .header:hover {
        backdrop-filter: blur(1.5rem);
    }
} 

@media only screen and (min-width: 600px) {
    
    .header .left .nav .nav-element .dropdown-content {
        position: absolute;
        top: 3rem;
        left:0;
    }

    .header .left .nav {
        display: flex !important;
    }

}

@media only screen and (max-width: 600px) {
    .header .left .icon {
        display: block;
    }

    .header .left .nav {
        display: none;

        width: 95vw;
        height: 100%;
        position: absolute;
        right: 0;
        top:0;

        flex-direction: column;

        justify-content: start;
        align-items: start;

        padding: 1rem 1rem;
        gap: 1.5rem;
    }

    .header .left .nav .nav-element {
        padding-right: 0rem;
        padding-left: 1.25rem;
    }

    .header .left .nav .mb-head {
        display: flex;
        font-size: 1.25rem;
        width: 100%;
        padding: 0rem 0rem;
        padding-bottom: 3px;
        border-bottom: 1px solid white;
        justify-content: space-between;
    }

    .header .left .nav .mb-head div {
        padding: 0rem 1rem;
    }
    
}