@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #fff;
    z-index: 0;
}

:root {
    --primary-color: green;
    --secondary-color: #e2c000;
    --accent-color: hsl(215, 51%, 70%);

    font-size: 15px;
  
    /* Primary */
    --var-soft-blue: hsl(215, 51%, 70%);
    --var-cyan: hsl(178, 100%, 50%);
    /* Neutral */
    --var-main-darkest: hsl(217, 54%, 11%);
    --var-card-dark: hsl(216, 50%, 16%);
    --var-line-dark: hsl(215, 32%, 27%);
    --var-lightest: white;
  
    /* Fonts */
  
    --var-heading: normal normal 600 1.5em/1.6em "Outfit", sans-serif;
    --var-small-heading: normal normal 400 1em/1em "Outfit", sans-serif;
    --var-para: normal normal 300 1em/1.55em "Outfit", sans-serif;
}

a {
    color: unset;
    text-decoration: none;
}

.top {
    padding: 0.5rem 1rem 1rem 1rem;
}

#main video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: max(1.5rem, 1.75vh) max(1rem, 4.5vw);
    transition-duration: 1.7s;
    align-items: center;
    flex-direction: row;
    transition-duration: 1.2s; width: 100%;
    width: -moz-available;          
    width: -webkit-fill-available;  
    width: stretch;
    background-color: black;
    z-index: 11;              
    border-bottom: 1px solid #e2c000;
}

.header:hover {
    backdrop-filter: none;
}

.header .mid {
    display: flex;
    align-items: center;
    font-size: max(1.5vw, 1.5rem);
    font-weight: 500;
    flex-direction: row;
    gap: 1rem;
}

.header .mid .head {
    display: none;
}

.header .mid .logo img {
    height: min(max(12vw, 3rem), 4rem);
    width: auto;
}

.header .left .icon {
    display: none;
    font-size: 26px;
}

.header .left .icon:hover {
    cursor: pointer;
}

.header .left .nav {
    display: flex;
    gap: 2vw;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
}

.header .left .nav .nav-element {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    position: relative;
}

.header .left .nav .nav-element .flex-target {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header .left .nav .nav-element .flex-target:hover {
    cursor: pointer;
}

.header .left .nav .nav-element .dropdown-content {
    width: 100%;
    flex-direction: column;
    display: none;
}

.header .left .nav .nav-element .dropdown-content .flex {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.header .right .icons {
    display: flex;
    gap: 2.5vw;
    font-size: 1.75rem;
}

.header .right .icons div:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.header .right {
    display: none;
}

.header .left .mb-head {
    display: none;
}

.header .left .mb-head .close {
    font-size: 22px;
}

.header .left .mb-head .close:hover {
    cursor: pointer;
}

.head1 {
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.head1 div {
    max-width: fit-content;
    font-size: 3.2rem;
    border-bottom: 2px solid var(--secondary-color);
    text-align: center;
}

.vw {
    display: flex;
    gap: 1.5vw;
}

.vw-left {
    margin: 0 max(0.75rem, 2.5vw);
    height: 90vh;
    display: flex;
    flex: none;
    overflow: auto;
    flex-flow: column nowrap;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.vw-left::-webkit-scrollbar {
    display: none;
}

.vw-left .block {
    min-height:100%;
    scroll-snap-align: center;
    overflow: visible;
}

.vw-left .block .head {
    font-size: 4rem;
    margin-top: 5rem;
    margin-left: 3.25rem;
    word-wrap: break-word;
    padding-right: 1.5rem;
}

.vw-left .block .description {
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 3.75rem;
    color: var(--secondary-color);
    word-wrap: break-word;
    padding-right: 1.5rem;
}

.vw-left .block .button {
    font-size: 1.25rem;
    margin-left: 3.75rem;
    margin-top: max(8vh, 3rem);
}

.vw-right {
    margin-right: 1rem;
    padding: 1rem 2rem;
    backdrop-filter: blur(3.25rem);
}

.vw-right .head {
    font-size: 2.25rem;
    padding-bottom: 2px;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
}

.vw-right .item {
    padding-bottom: 1.25rem;
}

.vw-right .item .h {
    font-size: 1.25rem;
}

.fade {
    background-color: transparent;
    transition: opacity 0.7s ease-in;
}

.fadeOut { opacity: 0; }
.fadeIn { opacity: 1; }

.footer {
    display: flex;
    gap: 1rem;
    padding: max(1.5rem, 1.75vh) max(1rem, 4.5vw);
    backdrop-filter: blur(3.25rem);
}

.footer .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    min-width: 25vw;
}

.footer .left .main-text {
    font-size: max(1.75vw, 1.25rem);
}

.footer .left .sub-text {
    font-size: max(1vw, 0.75rem);
}

.footer .left .main-text, .footer .left .sub-text {
    text-align: left;
}

.footer .left .logo img {
    height: max(8vw, 6rem);
    width: auto;
}

.footer .left .basis {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
}

/* 
=========================
Fonts
=========================

font-family: 'Outfit', sans-serif;

*/

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

/* 
=======================
Setup
=======================
*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

img {
  width: 100%;
  border-radius: 15px;
  display: block;
}

a {
  color: inherit;
}

.members {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: max(2rem, 4vw);
    flex-direction: row;
    margin: 0 1rem;
}

.members h1 {
  font-size: max(1.5rem, 1.5vw);
  color: var(--var-lightest);
  padding: 0.5rem 0 0 0;
}

.members h2 {
  font-size: max(0.75rem, 1vw);
  color: #bbb;
  padding: 0.25rem 0;
}

.members p {
  font-size: 1.25rem;
  color: var(--var-soft-blue);
}

.members span {
  color: white;
}

.members .card-container {
  width: 100%;
  max-width: 400px;
  background-color: var(--var-card-dark);
  border-radius: 15px;
  margin-bottom: 1rem;
  padding: 2rem;
}

.members div.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.members div.coin-base,
.time-left,
.card-attribute {
  display: flex;
  align-items: center;
  padding: 1em 0;
}

.members a.hero-image-container {
  position: relative;
  display: block;
}

/* Details */

.members img.eye {
  position: absolute;
  width: 100%;
  max-width: 2em;
  top: 44%;
  left: 43%;
}

.gentext {
    margin: 0 max(0.75rem, 7.5vw);
}

.gentext a {
    color:#e2c000;
    transition-duration: 0.7s;
}

.gentext a:hover {
    text-decoration: underline;
}

@media (min-width: 400px) {
  .members img.eye {
    max-width: 3em;
  }
}

.members .hero-image-container::after {
  content: "";
  background-image: url("https://i.postimg.cc/9MtT4GZY/view.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5rem;
  background-color: hsla(178, 100%, 50%, 0.3);
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.members .hero-image-container:hover::after {
  opacity: 1;
}

@media (min-aspect-ratio: 16/9) {
    video {
      width: 100%;
      height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    video {
        width: auto;
        height: 100%;
    }
}

@media only screen and (min-width: 1280px) {
    .header .mid .head {
        display: block;
    }

    .header .right {
        display: block;
    }

    .header .mid .acronym {
        display: none;
    }

    .header .mid {
        flex-direction: row;
    }

    .header {
        flex-direction: row;
    }

    .header .left .nav .nav-element {
        flex-direction: row-reverse;
    }

    .header:hover {
        backdrop-filter: blur(1.5rem);
    }
} 

@media only screen and (min-width: 600px) {
    
    .header .left .nav .nav-element .flex-target > div {
        display: none;
        transition-delay: 0.7s;
        transition-duration: 0.7s;
    }

    .header .left .nav .nav-element .flex-target:hover div {
        display: flex;
    }

    .header .left .nav .nav-element .flex {
        position: absolute;
        top: 2.5rem;
        left: -1rem;
        margin-bottom: 1rem;

        background-color: #041d1f;
        min-width: 10.5vw;
        border-bottom: 1px solid #e2c000;
        flex-direction: column;
        z-index:12;
    }

    .header .left .nav .nav-element .flex div {
        padding: 0.5rem 1rem;
        transition-duration: 0.7s;
    }

    .header .left .nav .nav-element .flex div:hover {
        background-color: #06343e;
        color: #e2c000;
    }

    .header .left .nav {
        display: flex !important;
    }

}

@media only screen and (max-width: 600px) {
    .header {
        position: fixed;
    }

    .header .left .icon {
        display: block;
    }

    .header .left .nav {
        display: none;

        width: 100vw;
        min-height: 100vh;
        position: absolute;
        right: 0;
        top:0;

        flex-direction: column;

        justify-content: start;
        align-items: start;

        padding: 2rem 1rem;
        gap: 1.5rem;
        backdrop-filter: blur(1.5rem);
        z-index:99;
    }

    .header .left .nav .nav-element {
        padding-right: 0rem;
        padding-left: 1.25rem;
    }

    .header .left .nav .mb-head {
        display: flex;
        font-size: 2rem;
        width: 100%;
        padding: 0rem 0rem;
        padding-bottom: 3px;
        justify-content: space-between;
        align-items: center;
    }

    .header .left .nav .mb-head div {
        padding: 0rem 1rem;
    }

    .vw-left {
        width: 95vw;
        margin-top: 6rem;
        margin-right: 0.25rem;
        padding-left: 0.75rem;
    }

    .vw-left .block .head, .vw-left .block .description, .vw-left .block .button {
        margin-left: 0rem !important;
    }

    .members {
        flex-direction: column;
    }

    .top {
        padding-top: 7rem;
    }

    .gentext {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
}

@media only screen and (max-width: 800px) { 
    .footer {
        flex-direction: column;
    }

    .footer .left {
        flex-direction: column;
        text-align: left;
    }

    .footer .left .main-text, .footer .left .sub-text {
        text-align: center;
    }
}